/* Estilo geral */
body {
  font-family: "MedievalSharp", cursive;
  background-color: #1a1a1a;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("texture.jpg");
  background-size: cover;
  background-blend-mode: overlay;
}

/* Container principal */
.container {
  text-align: center;
  background-color: rgba(26, 26, 26, 0.8);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #4a4a4a;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 90%; /* Largura máxima para celular */
  max-width: 400px; /* Limite de largura */
  margin-left: 15px;
  margin-right: 15px;
}

/* Título */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #c0a878;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Botões */
button {
  display: block; /* Botões em bloco (um abaixo do outro) */
  width: 100%; /* Largura total */
  margin: 10px 0; /* Espaçamento entre botões */
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4a4a4a;
  color: #e0e0e0;
  transition: background-color 0.3s, transform 0.2s;
  font-family: "MedievalSharp", cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: #5a5a5a;
  transform: scale(1.02);
}

button:active {
  background-color: #3a3a3a;
  transform: scale(0.98);
}
